{% extends 'quiz/base.html' %}

{% block title %}
Reset password
{% endblock %}

{% block body %}

<div>
    <p class="fs-1 text-center fw-light">
        qWiz
        <i class="bi bi-rocket-fill"></i>
    </p>
</div>

<form class="form-reset" method="post">
    {% csrf_token %}
    <div class="text-danger">{{ err_message }}</div>

    <div class="form-floating">
        <input class="form-control" type="password" name="password" id="password" placeholder="Password">
        <label for="password">Password</label>
    </div>
    <div class="form-floating">
        <input class="form-control" type="password" name="password_confirm" id="password_confirm"
            placeholder="Password Confirm">
        <label for="password">Password Confirm</label>
    </div>


    <div class="d-flex flex-column">
        <button class="btn btn-primary" type="submit">Update Password</button>
    </div>
</form>

{% endblock %}